
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
} 

#start-screen{
    position: relative;
    background-image: url('earth-background.png');
    background-size: cover;
    /* overflow: hidden; */
    height: 100vh;
}

#earth-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}

#title{
    display: block;
    text-align: left;
    padding: 20px;
    font-size: 80px;
    color: #228B22;
    /* color: #52b788; */
    font-family: Courier New, monospace;
}


#mission-text{
    width: 100%;
    font-size: 50px;
    font-family: Courier New, monospace;
    text-align: center;
    padding-right: 50%;
    color: #fff;
} 

#idea{
    text-align: center;
    font-size: 24px;
    color: white;
    font-family: Courier New, monospace;
    padding-right: 50%;
    padding-bottom: 10px;
    padding-left: 10px;
}

#arrow-btn img {
    width: 350px;
    height: 170px;
    margin-left: 25%;
    padding-top: 10px;
}


#about-us{
    color: #fff;
    text-align: center;
}

#about-sentence{
    color: #fff;
    text-align: center;
}

#about-page {
    background-image: url("about-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fixed background while scrolling */
    padding: 50px; /* Adjust padding as needed */
}

#about-section {
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    color: blue; /* Set text color for better visibility on the background */
}
