
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/garet');
html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo {
  display: block;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%; 
}
#logo_main{
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%; 
}


/* #start-screen{
  position: relative;
  background-image: url('earth-background.png');
  background-size: cover;
  /* overflow: hidden; */
  /* height: 100vh; */
/* } */

#earth-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -1; /* Ensure the video is behind other content */
}

#title{
    display: block;
    text-align: left;
    padding: 20px;
    font-size: 80px;
    color: #228B22;
    /* color: #52b788; */
    font-family: 'Garet', sans-serif;
}


#mission-text{
    width: 100%;
    font-size: 50px;
    font-family: 'Garet', sans-serif;
    text-align: center;
    padding-right: 50%;
    color: #fff;
} 

#idea{
    text-align: center;
    font-size: 23px;
    color: white;
    font-family: 'Garet', sans-serif;
    padding-right: 50%;
    padding-bottom: 10px;
    padding-left: 10px;
}

#arrow-btn img {
    width: 200px;
    height: 179px;
    margin-left: 25%;
    padding-top: 10px;
}

#about-us{
  position: relative;
  background-image: url('aboutUsBackground.png');
  background-size: cover;
  /* overflow: hidden; */
  height: 100%;
}

#about-sentence{
    color: #fff;
    text-align: center;
}

#about-page {
    background-image: url(images/earth-background.png);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    padding: 50px; /* Adjust padding as needed */
}

#text-about-us{
  font-size: 80px;
  color: white;
  text-align: center;
  padding-left: 8%;
  font-family: 'Garet', sans-serif;

}

#about-section {
    /* position: relative; */
    /* overflow: hidden; */
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    color: blue; /* Set text color for better visibility on the background */
}

/* <!-- "About Us" section --> */
.about-us {
  font-family: Arial, sans-serif;
  position: absolute;
  text-align: center;
  background-image: url('aboutUsBackground.png'); /* Set the correct path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Do not repeat the background image */
  height: 100vh; /* Set a specific height for the container */
}

.image-container {
  margin-top:  3%; /* Adjust the top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  padding-left: 12.5%;
  border-radius: 10px;
}
.circular-mask {
  width: 310px; /* Set the width to 300px */
  height: 310px; /* Set the height to 300px */
  border-radius: 50%; /* Make it circular */
  overflow: hidden; /* Hide overflow */
  margin-bottom: 5%; /* Adjust the bottom margin */
}

img {
  max-width: 100%; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container */ 
  transition: transform 0.5s ease-in-out; /* Smooth rotate transition */
}

img.rotate {
  transform: rotateY(180deg); /* Rotate the image */
}

.text-box {
  font-size: 40px; /* Increase font size */
  color: white; /* Set text color to white */
  font-family: 'Garet', sans-serif;

}

.about-descriptor{
  font-size: 2px;
  font-family: 'Garet', sans-serif;
  color: white;
  padding-top: 10%;
}

#next-button {
  margin-left: 52.5%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db; /* Blue background */
  color: white; /* White text */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#next-button:hover {
  background-color: #2980b9; /* Darker blue on hover */

}